apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: petasus-core-selfsigned
  namespace: kubesphere-system
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: petasus-core-cert
  namespace: kubesphere-system
spec:
  secretName: petasus-core-tls
  duration: 876600h
  renewBefore: 8760h
  dnsNames:
    - petasus.io.local
  privateKey:
    rotationPolicy: Never       
  issuerRef:
    kind: Issuer
    name: petasus-core-selfsigned
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ak-proxy-headers
  namespace: kubesphere-system
data:
  X-Forwarded-Proto: "$scheme"
  X-Forwarded-Host:  "$host"
  X-Forwarded-For:   "$proxy_add_x_forwarded_for"
  X-Forwarded-Uri:   "$request_uri"
  X-Real-IP:         "$remote_addr"
  Host:              "$host"
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: petasus-core
  namespace: kubesphere-system
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
    nginx.ingress.kubernetes.io/proxy-request-buffering: "off"
    nginx.ingress.kubernetes.io/proxy-set-headers: kubesphere-system/ak-proxy-headers
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
 #   cert-manager.io/issuer: petasus-core-selfsigned
spec:
  ingressClassName: nginx-petasus-core
  tls:
    - secretName: petasus-core-tls
      hosts:
        - petasus.io.local
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: ks-console        
                port:
                  number: 80
